*.a
*.cache
*.gz
*.la
*.lo
*.log
*.o
*.so
*.status
*.sw?
*.tab
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
cantera-lock
config.guess
config.h
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
